<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datalink.user.dao.RoleUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.datalink.user.entity.RoleUser">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, role_id
    </sql>


    <select id="selectForCTable" resultType="com.datalink.user.entity.RoleUser">
        select
        a.*
        from
        dbase_role_user a
        <where>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!=""'>
                ${ew.sqlSegment}
            </if>
        </where>
    </select>

    <select id="findRolesByUserId" resultType="com.datalink.base.model.Role">
        select r.* from dbase_role r
        inner join dbase_role_user ru on r.id = ru.role_id and ru.user_id = #{userId}
    </select>
</mapper>
