import request from 'umi-request';
import type { TableListParams } from './data.d';
import {${entity}TableListItem} from "@/pages/Dbase/${entity}/data";
#set($entityNameLow = ${entity.substring(0,1).toLowerCase()} + ${entity.substring(1)})

export async function query${entity}(params?: TableListParams) {
    return request('/api-${entityNameLow}/${entityNameLow}s/list', {
        method: 'POST',
        data: {
            ...params,
        },
    });
}

export async function remove${entity}(params: number[]) {
    return request('/api-${entityNameLow}/${entityNameLow}s', {
        method: 'DELETE',
        data: {
            ...params,
        },
    });
}

export async function addOrUpdate${entity}(params: UserTableListItem) {
    return request('/api-${entityNameLow}/${entityNameLow}s/saveOrUpdate', {
        method: 'POST',
        data: {
            ...params,
        },
    });
}

